.rbc-events-container {
    margin-right: 0 !important;
}

.rbc-event-label {
    display: none !important;
}

.rbc-allday-cell {
    display: none !important;
}

.rbc-event {
    background-color: #800000 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
}